<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azdevopsagentbroker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a051724e-5401-47ca-b9ea-cf98d65e0508/resourcegroups/lps-wos-lower/providers/Microsoft.Web/sites/AzDevOpsAgentBroker</ResourceId>
    <PublishUrl>https://azdevopsagentbroker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>